body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0 0.5rem;
    max-width: 900px;
    color: #333;
}

body.writing {
    max-width: 740px;
    margin: 0 auto;
}

body.writing ul {
    font-family: 'IBM Plex Sans', serif;
}

body.homepage {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.homepage p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.homepage h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    line-height: 3.9rem;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    line-height: 3.9rem;
    margin-bottom: 0;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 0;
}

ul.dashed {
    list-style: none;
    padding-left: 0;
}

ul.dashed>li {
    margin-left: 24px;
}

/* Prevent nested li's from getting messed up */
ul.dashed>li::before {
    content: '\2013\2002';
    color: #a9a9a9;
    margin-left: -24px;
}

.homepage ul.dashed>li::before {
    margin-left: -26px;
}

li {
    margin: 0 0 0.6rem;
    padding: 0;
}

li ul {
    padding-left: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inlinelist a {
    padding-right: 1rem;
}

sup {
    padding: 2px;
    margin-left: 2px;
    /* background-color: rgb(185, 247, 240); */
}

img {
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #a9a9a9;
    margin: 1em 0;
    padding: 0; 
}

small {
    color: #777;
}

.gallery-image {
    display: inline-block;
    padding-top: 0.5rem;
    max-width: 100%;
}
.gallery-image:first-child {
    padding-right: 0.5rem;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}